/* --------------------------------
 Header
* ---------------------------------*/

.main-header {
  position: fixed;
  width: 100%;

  &--wrap {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 112px;
    max-width: 96%;
    margin: 0 auto;
  }

  &--brand {
    width: 20%;
  }

  &--logo-wrap {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 24px;
    width: 240px;
  }
}



.main-nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;

}
.nav-menu {
  display: flex;
  list-style: none;
  padding-top: 20px;
  position: fixed;
  
  li {
    padding: 0 .75rem;

    a {
      color: #fff;
    }

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  &--active {
    font-weight: 600;
  }

  .nav-dropdown {
    // display: none; // hide for now
    list-style: none;
    padding: 0;
  }
}
